<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Layout 1</title>

    <!-- Bootstrap -->
    <link th:href="@{/static/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/style.css}" rel="stylesheet"/>

    <script th:src="@{/static/jquery/jquery.min.js}"></script>
    <script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-5 col-md-4">
                <h1><a th:href="@{/index.html}">统一配置</a></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <div layout:fragment="main"></div>
            </div>
        </div>
    </div>
</body>
</html>