<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.hs.easyj.dao.mybatis.sharding.demo.UserDao">

    <insert id="insert" parameterType="net.hs.easyj.dao.mybatis.sharding.demo.User">
        insert into tb_user(id, username, password, age)
        values(#{id}, #{username}, #{password}, #{age})
    </insert>

    <select id="select" parameterType="java.lang.Long" resultType="net.hs.easyj.dao.mybatis.sharding.demo.User">
        select * from tb_user where id = #{id}
    </select>

    <select id="selectPageByExample" parameterType="net.hs.easyj.dao.mybatis.sharding.demo.User"
            resultType="net.hs.easyj.dao.mybatis.sharding.demo.User">
        select * from tb_user where username = #{username}
    </select>

</mapper>