<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.hs.easyj.saas.dao.RoleResourceDao">

    <insert id="insert" parameterType="net.hs.easyj.saas.model.RoleResource" useGeneratedKeys="true" keyProperty="id">
        insert into role_resource(tenant_id, role_id, resource_id)
        values(#{tenantId}, #{roleId}, #{resourceId})
    </insert>

    <select id="select" parameterType="java.lang.Long" resultType="net.hs.easyj.saas.model.RoleResource">
        select <include refid="selectColumns"/> from role_resource where id = #{id}
    </select>

    <select id="selectByExample" parameterType="net.hs.easyj.saas.model.RoleResource" resultType="net.hs.easyj.saas.model.RoleResource">
        select <include refid="selectColumns"/> from role_resource <include refid="dynamicWhere" />
    </select>

    <!-- Sql Fragments -->
    <sql id="selectColumns">
        tenant_id as tenantId, role_id as roleId, resource_id as resourceId
    </sql>
    <sql id="dynamicWhere">
        <where>
            <if test="id !=null">
                id = #{id}
            </if>
            <if test="tenantId != null">
                and tenant_id = #{tenantId}
            </if>
            <if test="roleId != null">
                and role_id = #{roleId}
            </if>
            <if test="resourceId != null">
                and resource_id = #{resourceId}
            </if>
        </where>
    </sql>

</mapper>